body {
    background-image: url('/images/cloudysunsky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height:100px;
}
body.container {
    width: 1000px;
    margin: 30px auto;
}