<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="container">
<div class="titlebox">Register for an account!</div>
<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>